@import url(reset.css);
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.promo {
  background: url("../Img/main_bg.png") center center/cover no-repeat;
  height: 820px;
}

.promo .logo__img {
  padding-top: 38px;
  margin-bottom: 9.5px;
}

.promo .logo__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 53px;
}

.promo .easy__title-top, .promo .easy__title-bottom {
  font-weight: 900;
  font-size: 41px;
  text-transform: uppercase;
  color: #F9BF3B;
  margin-bottom: 22px;
}

.promo .easy__big {
  font-weight: 900;
  font-size: 80px;
  color: #FFFFFF;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}

.promo .easy__big::after {
  content: ' ';
  background: #FFFFFF;
  height: 2px;
  width: 200px;
  position: absolute;
  right: 0px;
  top: 55px;
}

.promo .easy__big::before {
  content: ' ';
  background: #FFFFFF;
  height: 2px;
  width: 200px;
  position: absolute;
  left: 0px;
  top: 55px;
}

.promo .easy__bottom {
  margin-bottom: 22.5px;
}

.promo .easy__text {
  font-weight: 300;
  font-size: 21px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.promo .more__btn {
  margin-bottom: 60px;
}

.promo .more__text {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 5px;
}

.button {
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 72px;
  width: 313px;
  cursor: pointer;
  font-size: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
  background: -webkit-gradient(linear, left bottom, left top, from(#2798B9), to(#3AB6DA));
  background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.offer {
  background: #EFEFEF;
}

.offer__header {
  padding-top: 88px;
}

.offer__title {
  margin-bottom: 43.5px;
}

.offer__title::after {
  content: '';
  width: 220px;
  height: 7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  background: #F9BF3B;
  top: 55px;
}

.offer__subtitle {
  color: #4A4A4A;
  font-size: 23px;
  margin-bottom: 45px;
}

.offer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__item {
  padding: 0 40px 75px 0;
  width: 342px;
}

.offer__img {
  margin-bottom: 26px;
}

.offer__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #4A4A4A;
}

.optimization__wrapper {
  min-height: 550px;
}

.optimization__info {
  max-width: 750px;
  margin-left: 370px;
  padding: 108px 0 74px 0;
}

.optimization__title {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #299CBD;
}

.optimization__text {
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  color: #4A4A4A;
  text-align: left;
}

.optimization__text span {
  font-weight: 700;
}

.optimization__img {
  position: absolute;
  left: -240px;
  top: 128px;
  z-index: -1;
}

.title {
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
}

.finish {
  background: url("../Img/second_bg.png") center center/cover no-repeat;
  height: 447px;
}

.finish__wrapper {
  color: #EFEFEF;
}

.finish__title {
  padding-top: 86px;
  margin-bottom: 55px;
}

.finish__title::after {
  content: '';
  width: 220px;
  height: 7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  background: #F9BF3B;
  top: 55px;
  top: 140px;
}

.finish__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.finish__item {
  width: 230px;
}

.finish__img {
  background: #B4E2FF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 118px;
  height: 118px;
  margin-bottom: 24px;
}

.finish__text {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}

.gift {
  min-height: 631px;
  background: #EFEFEF;
}

.gift__wrapper {
  padding: 85px 0;
}

.gift__img {
  width: 154px;
  height: 174px;
  margin: 45px auto;
}

.gift__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  color: #252525;
  margin-bottom: 50px;
}

.webinar {
  min-height: 514px;
}

.webinar__inner {
  padding-top: 70px;
}

.webinar__img {
  margin-bottom: 25px;
}

.webinar__title {
  color: #252525;
  margin-bottom: 25px;
}

.webinar__subtitle {
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
  color: #299CBD;
  margin-bottom: 20px;
}

.webinar__descr {
  font-weight: 400;
  font-size: 23px;
  line-height: 20px;
  color: #4A4A4A;
}

.footer {
  height: 169px;
  background: #1A1A1A;
  font-weight: 300;
  font-size: 15px;
  color: #888888;
}

.footer__info li {
  display: inline-block;
  padding-right: 15px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer__info a {
  display: inline-block;
  color: #888888;
}

.footer__info ul {
  position: relative;
  display: inline-block;
}

.footer__info ul:first-child::after {
  content: '';
  background: #888888;
  width: 1px;
  height: 15px;
  left: 146px;
  position: absolute;
  top: 2px;
}

.footer__info {
  padding-top: 57px;
}

.footer__contact {
  padding-bottom: 69px;
}

@media (max-width: 1200px) {
  .promo .easy__text {
    font-size: 18px;
  }
  .promo .easy__big {
    max-width: 900px;
    margin: 0 auto;
  }
  .promo .easy__big::after {
    width: 125px;
  }
  .promo .easy__big::before {
    width: 125px;
  }
  .offer {
    padding-bottom: 20px;
  }
  .offer__main {
    -webkit-box-flex: 33.33%;
        -ms-flex: 33.33%;
            flex: 33.33%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .offer__item {
    width: 300px;
    padding: 0;
  }
  .offer__img img {
    width: 100%;
  }
  .optimization__info {
    padding: 40px 10px;
  }
  .optimization__img {
    top: 107px;
  }
}

@media (max-width: 991px) {
  .promo {
    height: 650px;
  }
  .promo .logo__img {
    padding-top: 20px;
  }
  .promo .logo__text {
    margin-bottom: 20px;
  }
  .promo .easy__title-bottom, .promo .easy .easy__title-top {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .promo .easy__text {
    font-size: 13px;
    font-weight: 400;
    margin: 20px 0 45px 0;
  }
  .promo .easy__big {
    font-size: 50px;
    margin-bottom: 12px;
  }
  .promo .easy__big::after, .promo .easy .easy__big::before {
    display: none;
  }
  .promo .more__btn {
    margin-bottom: 45px;
  }
  .promo .more__text {
    margin-bottom: 10px;
  }
  .offer__header {
    padding-top: 65px;
  }
  .offer__title::after {
    content: '';
    width: 180px;
    height: 3px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
    background: #F9BF3B;
    top: 55px;
  }
  .offer__subtitle {
    font-size: 20px;
    margin-bottom: 35px;
  }
  .offer__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offer__item {
    width: 50%;
    margin-bottom: 20px;
  }
  .optimization__wrapper {
    min-height: 484px;
  }
  .optimization__info {
    margin-left: 300px;
    padding: 20px 10px;
  }
  .optimization__img img {
    width: 75%;
  }
  .optimization__title {
    font-size: 25px;
    font-weight: 500;
  }
  .optimization__text {
    font-size: 14px;
    line-height: 20px;
  }
  .finish {
    min-height: 660px;
  }
  .finish__title {
    padding-top: 25px;
    margin-bottom: 40px;
  }
  .finish__title::after {
    content: '';
    width: 180px;
    height: 3px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
    background: #F9BF3B;
    top: 55px;
    top: 68px;
  }
  .finish__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .finish__item {
    width: 45%;
    margin-bottom: 20px;
  }
  .gift {
    min-height: 580px;
  }
  .gift__wrapper {
    padding: 30px 0;
  }
  .gift__text {
    font-size: 23px;
    line-height: 35px;
  }
  .webinar {
    min-height: 480px;
  }
  .webinar__title {
    margin-bottom: 15px;
  }
  .webinar__subtitle {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .webinar__descr {
    font-size: 20px;
  }
  .footer {
    height: 100px;
    font-size: 14px;
  }
  .footer__info {
    padding-top: 30px;
  }
  .footer__info ul:first-child::after {
    left: 135px;
  }
  .footer__contact {
    margin: 0;
    padding: 0;
  }
  .button {
    height: 60px;
    width: 280px;
    font-size: 18px;
  }
  .title {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .promo {
    height: 520px;
    padding: 0 10px;
  }
  .promo .logo__img {
    padding: 10px 0;
    margin: 0;
  }
  .promo .logo__text {
    font-size: 12px;
    line-height: normal;
  }
  .promo .easy__title-bottom, .promo .easy .easy__title-top {
    font-size: 20px;
    margin: 0;
  }
  .promo .easy__big {
    font-size: 38px;
    margin: 0;
  }
  .promo .easy__text {
    font-size: 10px;
    margin: 12px 0 30px 0;
  }
  .promo .more__img {
    margin: 0 auto;
    width: 22px;
    height: 14px;
  }
  .promo .more__text {
    font-size: 12px;
  }
  .offer__header {
    padding-top: 38px;
  }
  .offer__title {
    margin-bottom: 18px;
  }
  .offer__title::after {
    width: 130px;
    height: 2px;
    top: 33px;
  }
  .offer__subtitle {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .optimization__wrapper {
    min-height: 320px;
  }
  .optimization__title {
    font-size: 18px;
    margin: 0;
  }
  .optimization__info {
    margin: 0;
    padding: 20px 40px;
  }
  .optimization__text {
    font-size: 12px;
    line-height: 16px;
  }
  .optimization__img {
    display: none;
  }
  .gift {
    min-height: 450px;
    padding: 0 20px;
  }
  .gift__text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 35px;
  }
  .gift__img {
    margin: 25px auto;
  }
  .webinar {
    min-height: 420px;
  }
  .webinar__inner {
    padding-top: 50px;
  }
  .webinar__title {
    margin-bottom: 5px;
  }
  .webinar__subtitle {
    font-size: 22px;
    margin-bottom: 5px;
  }
  .title {
    font-size: 18px;
  }
  .button {
    height: 40px;
    width: 240px;
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .promo {
    height: 490px;
  }
  .promo .logo {
    padding: 5px 0;
  }
  .promo .logo img {
    width: 55px;
    height: 45px;
  }
  .promo .logo__img {
    padding: 10px 0;
  }
  .promo .logo__text {
    font-size: 10px;
    margin-bottom: 8px;
  }
  .promo .easy__title-bottom, .promo .easy .easy__title-top {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .promo .easy__big {
    font-size: 30px;
    margin-bottom: 8px;
  }
  .promo .easy__text {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 8px;
    line-height: 20px;
    font-weight: 300;
    font-size: 9px;
  }
  .promo .more__btn {
    margin-bottom: 38px;
  }
  .promo .more__text {
    font-size: 10px;
  }
  .promo .more__img img {
    width: auto;
    height: 12px;
  }
  .offer__title::after {
    top: 28px;
  }
  .offer__subtitle {
    margin-bottom: 20px;
  }
  .offer__img {
    margin-bottom: 10px;
  }
  .offer__item {
    width: 80%;
  }
  .finish {
    min-height: 950px;
  }
  .finish__items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .finish__item {
    width: 70%;
  }
  .finish__img {
    margin-bottom: 10px;
  }
  .finish__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
  }
  .gift__img {
    margin: 18px auto;
  }
  .gift__img img {
    width: 134px;
    height: 150px;
  }
  .webinar {
    min-height: 380px;
  }
  .webinar__img img {
    width: 270px;
    height: 150px;
  }
  .webinar__subtitle {
    font-size: 18px;
  }
  .webinar__descr {
    font-size: 15px;
  }
  .footer {
    font-size: 10px;
    height: 80px;
  }
  .footer__info {
    padding-top: 30px;
  }
  .footer__info ul:first-child::after {
    width: 1px;
    height: 12px;
    left: 99px;
    top: 0px;
  }
  .title {
    font-weight: 500;
    font-size: 14px;
  }
  .button {
    height: 35px;
    width: 200px;
    font-size: 12px;
  }
}
