@mixin yellow_line{
   content: '';
   width: 220px;
   height: 7px;
   left: 50%;
   transform: translateX(-50%);
   position: absolute;
   background: #F9BF3B;
   top: 55px;
}
@mixin yellow_line_smaller{
   content: '';
   width: 180px;
   height: 3px;
   left: 50%;
   transform: translateX(-50%);
   position: absolute;
   background: #F9BF3B;
   top: 55px;
   
}
@mixin btn{
   border: none;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   height: 72px;
   width: 313px;
   cursor: pointer;
   font-size: 21px;
   text-transform: uppercase;
   color: #FFFFFF;
   text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
   background: -webkit-gradient(linear, left bottom, left top, from(#2798B9), to(#3AB6DA));
   background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
   -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
   }
@mixin title_style{
   font-weight: 400;
   font-size: 30px;
   text-transform: uppercase;
   position: relative;
   }